
body {
  background-image : url(img/backround1.jpg);
  background-size: cover ;        
  background-position: center ;   
  background-repeat: no-repeat;  
  background-attachment: fixed;
  font-family: 'Courier New', monospace;
  margin: 0;
  padding: 20px;
}

.margarita {
  position: fixed;
  width: 90px;
  opacity: 0.8;
  pointer-events: auto;
  z-index: -1;
  animation: girar 6s linear infinite;
}

@keyframes girar {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.f1 { top: 80px; left: 100px;}
.f2 { top: 120px; right: 150px; }
.f3 { top: 300px; left: 50px; }
.f4 { bottom: 150px; right: 100px; }
.f5 { bottom: 80px; left: 200px; }
.f6 { top: 250px; right: 50px; }


.margarita:hover {
  opacity: 1;
  transform: scale(1.1);
  transition: transform 0.3s, opacity 0.3s;
}



/*  ventanas */
.window {
  background:rgba(243, 230, 230, 0.8);
  border: 3px solid #000;
  box-shadow: 6px 6px 0 #000;
  margin: 50px auto;
  max-width: 500px;
}

.hero {
  font-size: 24px;
  margin-bottom: 10px;
  padding: 70px;
}

.hero h1{
  font-size: clamp(24px, 5vw, 40px);
  line-height: 1.2;
  word-break: break-word;
}

.window-header {
  background: #cdb4db;
  padding: 5px;
  font-weight: bold;
  border-bottom: 2px solid #000;
}

.window-body {
  padding: 30px;
   
}

/* botones */
.btn {
  display: inline-block;
  background: #fdfd96;
  border: 2px solid #000;
  padding: 8px 15px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  box-shadow: 3px 3px 0 #000;
  margin: 5px;
}

.btn:hover {
  transform: translate(2px, 2px);
  box-shadow: none;
}

/* 📌 nav */
.nav-links {
  display: flex;
  justify-content: center;
}

/* 🧩 proyectos */
.projects {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.card {
  background: #a0c4ff;
  border: 2px solid #000;
  padding: 10px;
  box-shadow: 3px 3px 0 #000;
}

/* 🐱 footer */
.footer {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
}

.btn-top {
  position: fixed;
  bottom: 20px;
  right: 20px;

  background: #fdfd96;
  border: 2px solid #000;
  padding: 10px 15px;
  font-family: 'Courier New', monospace;
  cursor: pointer;

  box-shadow: 3px 3px 0 #000;

  display: none; /* oculto al inicio */
}

.btn-top:hover {
  transform: translate(2px, 2px);
  box-shadow: none;
}

.window {
  border-radius: 12px;
}

.window-header {
  border-radius: 10px 10px 0 0;
}

.btn {
  border-radius: 10px;
}

.card {
  border-radius: 10px;
}


